.max-h-header {
  max-height: calc(100vh - 150px);
  /* overflow-y: hidden; */
}
.bg-blue-200 {
  background-color: #bfdbfe;
}
.text-blue-900 {
  color: #1e3a8a;
}
.bg-green-200 {
  background-color: #bbf7d0;
}
.text-green-900 {
  color: #065f46;
}
